
# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.env
.venv/
env/
venv/

# SQLite database
*.db

# Reports & logs
reports/
*.csv
*.log

# System files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
